.play-video{
    flex-basis: 69%;
}
.play-video video{
    width: 100%;
}
.play-video h3{
    margin-top: 10px;
    font-weight: 600;
    font-size: 22px;

}
.play-video-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;
    color: #5a5a5a;

}
.play-video img{
    width: 20px;
    margin-right: 8px;

}
.play-video-info span{
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}
.play-video hr{
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 10px 0;

}
