.sidebar{
    background: #fff;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 80px;
}
.shortcut-links img{
    width: 20px;
    margin-right: 20px;

}
.side-link{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
    cursor: pointer;
}
.sidebar hr{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 85%;
}
.subscribed-list h3{
    font-size: 13px;
    margin: 20px 0px;
    color: #5a5a5a;
}
.side-link img{
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}
.small-sidebar{
    width: 5%;
    

}
.small-sidebar p{
    display: none;
    
}
.small-sidebar .subscribed-list{
    padding-top: 30px;
}
.small-sidebar .subscribed-list h3{
    display: none;
}