.remomended{
    flex-basis: 30%;
}
.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

}
.side-video-list img{
    flex-basis: 49%;
    width: 50%;
    border-radius: 10px;

}
.vid-info{
    flex-basis: 49%;
}
.vid-info h4{
    font-size: 13px;
    margin-bottom: 5px;
}