.play-container{
    background: #f9f9f9;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    
    justify-content: space-between;
    flex-wrap: wrap;
}
.main-content-container {
    display: flex;
    justify-content: space-between;
}

.play-video {
    flex-basis: 75%;
}

.recommended {
    flex-basis: 20%;
    margin-left: 20px;
}
